*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #cfc0c3;
    --color-secondary: #141414;
}

.dark-theme{
    --color-primary: #423d6f;
    --color-secondary: #cfc0c3;
}

body{
    background-color: var(--color-primary);
    font-family:'Poppins', 'sans-serif';
    font-size: 1.0rem;
    transition: all .4s ease-in-out;

}


header{
    display: block;
    position: center;
    height: 10%;
    color: black;
    overflow: hidden;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}


a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}


header ul li{
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
}

header ul li:hover,
header ul li.active
{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.iconify{
    align-content: center;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.img-home{
    opacity: 0.6;
    height: 80%;
    width: 100%;
}

section{
    
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}


footer{
    display: block;
    position: center;
    height: 20%;
    overflow: hidden;
    background-color: var(--color-primary);
}